<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook - Log In or Sign Up</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="CSS/Pictures/Facebook logo.png">
    <link rel="stylesheet" href="../public/Class_05/css/sytle.css">
    </meta>
</head>

<body>
    <div id="main-body">
        <section class="body">
            <div id="Right">
                <div id="Recent">
                    <h1>{{channelName}}</h1>
                    <p id="p1">Recent Logins</p>
                    <p id="p2">Click your picture or add an account.</p>
                </div>
                <div id="profile">
                    <img id="profile-picture" src="CSS/Pictures/Profile picture.jpg" alt="">
                    <div id="roman">
                        <p>Roman</p>
                    </div>
                </div>
                <div id="plus">
                    <!-- <img id="profile-picture2" src="CSS/Pictures/Profile picture.jpg" alt=""> -->
                    <div id="profile-picture2">
                        <div id="plus-sign">
                            <div id="plus-horizontal"></div>
                            <div id="plus-vertical"></div>
                        </div>
                    </div>
                    <div id="add-account">
                        <p>Add Account</p>
                    </div>
                </div>
            </div>
            <div id="login">
                <div>
                    <div id="inside-login">
                        <center><input id="username" type="text" placeholder="Email or Phone Number"></center>
                        <center><input id="password" type="password" placeholder="Password"></center>
                        <center><input id="log-in" type="submit" value="Log In"></center>
                        <center>
                            <p id="forgot-password">Forgot Password?</p>
                        </center>
                        <div id="stright-line"></div>
                        <center><input id="create-new-account" type="submit" value="Create New Account"></center>
                    </div>
                </div>
                <center>
                    <p id="create-a-page1">create a page</p>
                    <p id="create-a-page2">for a clebrity,brand or business</p>
                </center>

            </div>
        </section>
    </div>
</body>

</html>