* {
  margin: 0%;
  padding: 0%;
}

:root {
  --facebook-color: #2259f1e3;
  --black-white-color: #c5c5c5;
  --id-pass-color: #888585;
}

#main-body {
  background-color: #ededf1;
  display: inline-block;
  /* margin: 115px 185px; */
  width: 100%;
  height: 750px;
}

.body {
  background-color: #ededf1;
  display: flex;
  margin-top: 90px;
  margin-left: 180px;
  width: 1000px;
  /* height: 450px; */
  flex-direction: column;
  min-height: 100vh;
}

#Right {
  /* margin: 115px 185px; */
  position: fixed;
  /* border: 1px solid red; */
  position: absolute;
  width: 350px;
  height: 370px;
  /* overflow: hidden; */
}

#Recent h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: var(--facebook-color);
}

#p1 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  margin: -5px 1px;
}

#p2 {
  font-size: 13.5px;
  font-family: "Poppins", sans-serif;
  margin: 2px 0px;
  color: #33333a;
}

#profile {
  border: 1px solid var(--black-white-color);
  height: 206px;
  margin-top: 25px;
  display: inline-block;
  background-color: #e7e7ec;
  margin-right: 15px;
  border-radius: 10px;
}
#profile:hover {
  box-shadow: 0px 0px 10px 5px var(--black-white-color);
  transition-duration: 200ms;
  padding: 1px;
  margin-right: 13px;
  margin-top: 23px;
}

#profile-picture {
  height: 160px;
  width: 160px;
  vertical-align: top;
  border-radius: 10px 10px 0px 0px;
}
#roman {
  text-align: center;
  font-size: 18px;
  /* border: 1px solid red; */
  margin: 0px;
  padding-top: 11px;
  height: 35px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 0px 0px 10px 10px;
}

#plus {
  border: 1px solid var(--black-white-color);
  height: 206px;
  margin-top: 25px;
  display: inline-block;
  background-color: #e7e7ec;
  border-radius: 10px;
}
#plus:hover {
  box-shadow: 0px 0px 10px 5px var(--black-white-color);
  transition-duration: 200ms;
  padding: 1px;
  margin-top: 23px;
}

#profile-picture2 {
  display: inline-block;
  height: 160px;
  width: 160px;
  vertical-align: top;
  border-radius: 10px 10px 0px 0px;
}

#plus-sign {
  display: inline-block;
  background-color: var(--facebook-color);
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  position: absolute;
  right: 4rem;
  top: 12rem;
}
#plus-horizontal {
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  height: 4px;
  width: 22px;
  position: absolute;
  top: 22px;
  right: 13px;
}
#plus-vertical {
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  width: 4px;
  height: 22px;
  position: absolute;
  right: 22px;
  top: 13px;
}

#add-account {
  text-align: center;
  font-size: 18px;
  /* border: 1px solid red; */
  margin: 0px;
  padding-top: 11px;
  height: 35px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: var(--facebook-color);
  font-weight: 450;
  border-radius: 0px 0px 10px 10px;
}

#login {
  /* border: 1px solid red; */
  border-radius: 10px;
  height: 400px;
  width: 395px;
  display: inline-block;
  position: relative;
  top: 39px;
  left: 585px;
}

#inside-login {
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 0px #9a9a9a;
}

#username {
  display: block;
  position: relative;
  border: 1px solid var(--black-white-color);
  border-radius: 7px;
  margin: 15px;
  width: 350px;
  height: 50px;
  cursor: text;
}

#username::placeholder {
  color: var(--id-pass-color);
  font-size: 17px;
}
#username:focus {
  outline: none;
  border: 1px solid var(--facebook-color);
  box-shadow: 0mm 0mm 5px var(--facebook-color);
}
#username:read-write {
  padding-left: 15px;
  font-size: 17px;
}

#password {
  display: block;
  border: 1px solid var(--black-white-color);
  border-radius: 7px;
  margin: 15px;
  width: 350px;
  height: 50px;
  cursor: text;
}

#password::placeholder {
  color: var(--id-pass-color);
  font-size: 17px;
}
#password:focus {
  outline: none;
  border: 1px solid var(--facebook-color);
  box-shadow: 0mm 0mm 5px var(--facebook-color);
}
#password:read-write {
  padding-left: 15px;
  font-size: 17px;
}

#log-in {
  display: block;
  border: 1px solid var(--facebook-color);
  border-radius: 7px;
  margin: 15px;
  width: 365px;
  height: 47px;
  font-size: 21px;
  font-weight: bold;
  background-color: var(--facebook-color);
  color: white;
  cursor: pointer;
  transition-property: background-color;
  /* -webkit-transition-duration: 300ms; */
  transition: background-color 250ms;
}
#log-in:hover {
  background-color: #211fb8c7;
  transition: background-color 250ms;
}
#log-in:focus {
  outline: 0px;
}

#forgot-password {
  font-size: 16px;
  color: var(--facebook-color);
  cursor: pointer;
}
#forgot-password:hover {
  text-decoration: underline;
}

#stright-line {
  border: 1px solid var(--black-white-color);
  margin: 20px 15px;
}

#create-new-account {
  display: block;
  border: 1px solid #0faf0f;
  border-radius: 7px;
  margin: 25px 20px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: #0faf0f;
  color: white;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
}
#create-new-account:hover {
  background-color: #109e10;
  transition-duration: 250ms;
}
#create-new-account:focus {
  outline: 0px;
}

#create-a-page1 {
  display: inline-block;
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
#create-a-page1:hover {
  text-decoration: underline;
}

#create-a-page2 {
  display: inline-block;
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  cursor: text;
}

.fotter {
  width: 100%;
  height: 50px;
  background-color: rgba(88, 88, 88, 0.664);
}

.fotter h1 {
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-top: auto;
}
