
    {{!-- now here i can easily be able to go to another page --}}
    <a class="nav_bar" href="/about">about</a>
    <a class="nav_bar" href="/contact">contact</a>
    <a class="nav_bar" href="/">home</a>
