<div id="login">
                <div>
                    <div id="inside-login">
                        <center><input id="username" type="text" placeholder="Email or Phone Number"></center>
                        <center><input id="password" type="password" placeholder="Password"></center>
                        <center><input id="log-in" type="submit" value="Log In"></center>
                        <center>
                            <p id="forgot-password">Forgot Password?</p>
                        </center>
                        <div id="stright-line"></div>
                        <center><input id="create-new-account" type="submit" value="Create New Account"></center>
                    </div>
                </div>
                <center>
                    <p id="create-a-page1">create a page</p>
                    <p id="create-a-page2">for a clebrity,brand or business</p>
                </center>
            </div>
